@model IEnumerable<CadastrarJogos.Models.Jogo>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="CriarJogo">Criar Novo Jogo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="AtualizarJogo" asp-route-id="@item.JogoId">Edit</a> |
                    <a asp-action="ExcluirJogo" asp-route-id="@item.JogoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
